
@use '../scss/_colors' as c;
@use '../scss/_variables' as v;

.propertieRow {
    display: flex;
    height: 2rem;
    margin: 0.6rem;
    overflow: hidden;

    &.inactive {
        opacity: 0.4;
    }
    
    .propName {
        width: 40%;
        margin: 0px;
        padding: 0px 8px 0px 0px;
        text-align: right;
        line-height: 2rem;
        font-size: 1.2rem;
        text-shadow: 1px 1px 2px var(--textShadow);
    }

    .propDescription {
        margin: 0 0 0 0.4rem;
        font-size: 1.2rem;
        line-height: 2rem;
        text-shadow: 1px 1px 2px var(--textShadow);
    }

    .propValue {
        margin: 0px;
        padding: 0px;
        width: 60%;
        font-size: 1.1rem;
    }

    input {
        height: 2rem;
        box-sizing: border-box;
        font-size: 1.1rem;
        text-align: center;

        color: var(--text);
        text-shadow: 1px 1px 2px var(--textShadow);
        background-color: var(--inputField);
        outline: none;
        border: none;
        border-radius: v.$cBase;

        &[type=number] {
            border: solid 0.1rem var(--inputBorder);
        }

        &[type=text] {
            border: solid 0.1rem var(--inputBorder);
        }

        &[type=checkbox] {
            width: 1.2rem;
            height: 1.2rem;
            margin: 0.4rem 0.4rem 0.4rem 0;
        }

        &[type=color] {
            border: solid 0.1rem var(--inputBorder);
        }

        &[type=range] {
            
        }
    }

    button {
        height: 2rem;
        font-size: 1.2rem;
        text-align: center;

        color: var(--text);
        text-shadow: 1px 1px 2px var(--textShadow);
        background-color: var(--button);
        outline: none;
        border: solid 0.1rem var(--inputBorder);
        border-radius: v.$cBase;
    }
}

.panelName {
    display: flex;
    width: 100%;
    height: 20px;
    background-color: transparent;
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px var(--textShadow);

    object {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.4rem 0.4rem 0.4rem 0.6rem;
        //background-color: rgb(0, 175, 228);
    }

    .panelCheckbox {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.4rem;
    }

    & > p {
        margin: 0 0 0 0.4rem;
        color: var(--text);
        line-height: 2rem;
        font-size: 1.1rem;
    }
}

.panel {
    margin: 0.6rem;
    overflow-x: hidden;
    border-radius: 0.8rem;
    background-color: var(--panel);
}

.panelSub {
    margin: 0.6rem;
    overflow-x: hidden;
    border-radius: 0.6rem;
    background-color: var(--panel2);
}

.navList {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .category {
        height: 20px;
        padding-left: 10px;
        font-weight: regular;
    }

    button {
        position: relative;
        height: 30px;
        background-color: transparent;
        border-radius: 6px;

        &.active {
            background-color: var(--hover);
        }

        object {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            filter: var(--accentFilter);
        }

        p {
            position: absolute;
            top: 0;
            left: 32px;
            line-height: 30px;
            color: var(--text);
            text-align: left;
        }
    }
}