@use "../scss/_colors" as c;
@use "../scss/_variables" as v;

.header {
	width: 100%;
	display: flex;
	padding: 0 7px;
	gap: 7px;

	.toggle-btn {
		height: 20px;
		min-width: 20px;
		margin: 7px 0;
		border-radius: 5px;
	}
}

.panel {
	margin: 6rem;
	overflow: hidden;
	border-radius: 8rem;
	background-color: var(--panel);

	&.collapsed {
		height: 20rem;

		.panelName > img {
			rotate: 0deg;
		}
	}

	.panelName {
		display: flex;
		width: 100%;
		height: 20px;
		background-color: transparent;
		font-size: 1rem;

		img {
			width: 12rem;
			height: 12rem;
			margin: 4rem 4rem 4rem 6rem;
			rotate: 90deg;
			//background-color: rgb(0, 175, 228);
		}

		.panelCheckbox {
			width: 12rem;
			height: 12rem;
			margin: 04rem;
		}

		& > p {
			margin: 0 0 0 4rem;
			color: var(--text);
			line-height: 20rem;
			font-size: 11rem;
		}
	}

	.panelSub {
		margin: 6rem;
		overflow-x: hidden;
		border-radius: 6rem;
		background-color: var(--panel2);
	}
}

.nav-list {
	display: flex;
	flex-direction: column;

	.category {
		height: 20px;
		font-size: 10rem;
		padding-left: 4px;
		font-weight: 400;
	}

	button.nav-item {
		z-index: 10;
		display: flex;
		color: var(--text);
		background-color: transparent;
		border-radius: 6px;

		object {
			width: 30px;
			height: 30px;
			filter: var(--accent-filter);
		}

		input {
			height: 12px;
			width: 12px;
			margin: 9px 3px 9px 9px;
			border-radius: 6px;
		}

		p {
			color: var(--text);
			text-align: left;
		}
	}

	&.slim {
		button.nav-item {
			height: 24px;

			input {
				margin: 6px 3px 6px 6px;
			}

			p {
				line-height: 22px;
				margin: 1px 8px 1px 6px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}

main.mac {
	.header {
		height: 34px;
	}

	.nav-list {
		padding: 10px;
		padding-top: var(--topbar-height);

		button.nav-item {
			height: 28px;

			&.active {
				background-color: var(--accent);
			}

			p {
				margin: 0 0 0 6px;
				line-height: 28px;
				font-size: 13px;
			}
		}
	}
}

main.win {
	.nav-list {
		padding: 4px;
		padding-top: var(--topbar-height);

		button.nav-item {
			position: relative;
			height: 36px;

			&.active {
				background-color: var(--hover);

				&::after {
					content: "";
					position: absolute;
					left: 0;
					top: 10px;
					width: 3px;
					height: 16px;
					background-color: var(--accent);
					border-radius: 1.5px;
				}
			}

			p {
				margin: 0 0 0 10px;
				line-height: 36px;
				font-size: 14px;
			}
		}
	}
}

main.web {
	.header {
		height: 34px;
		background-color: rgb(77, 77, 77);
	}
}
