//window
$windowTitleBarBG: #474747;

//area
$areaBG1: rgba(80, 80, 80);
$areaBG2: rgba(70, 70, 70);
$areaBG3: rgba(60, 60, 60);
$areaBG4: rgba(50, 50, 50);
$areaBG5: rgba(40, 40, 40);

$text: rgba(255, 255, 255);

//elements
$inputField: rgba(110, 110, 110);