//window
$topBarBG:     rgb(54, 54, 54);
$sideBarBG:    rgb(36, 36, 36);
$propertiesBG: rgb(36, 36, 36);
$gridGap:      rgb(0, 0, 0);

//area
$panel:        rgb(60, 60, 60);
$panel2:       rgb(48, 48, 48);
$panel3:       rgb(36, 36, 36);

$text:         rgb(243, 243, 243);

//elements
$inputField:   rgb(110, 110, 110);
$inputBorder:  rgb(20, 20, 20);
$hover:        rgb(94, 94, 94);