main.dark {
	//window
	--topbar-BG: rgb(54, 54, 54);
	--topbar-BG-transparent: rgb(54, 54, 54, 0.7);
	--navbar-BG: rgb(66, 66, 66);
	--properties-BG: rgb(48, 48, 48);
	--grid-gap: rgb(26, 26, 26);

	--icon-filter: invert(100%);
	--icon-filter-muted: invert(70%);
	--icon-filter-invert: invert(10%);

	//area
	--panel: rgb(60, 60, 60);
	--panel2: rgb(45, 45, 45);
	--panel3: rgb(30, 30, 30);

	--text: rgb(238, 238, 238);
	--text-muted: rgb(182, 182, 182);
	--text-invert: rgb(31, 31, 31);
	--text-shadow: rgb(20, 20, 20);

	--app-menu-content-BG: rgb(44, 44, 44);

	//elements
	--input-field: rgb(84, 84, 84);
	--input-border: rgb(61, 61, 61);
	--button: rgb(40, 40, 40);
	--hover: rgba(111, 111, 111, 0.3);
	--hover2: rgba(93, 93, 93, 0.84);

	&.win {
		--topbar-BG: rgb(29, 29, 29);
	}

	&.web {
		--topbar-BG: rgb(29, 29, 29);
	}

	--sys-blue: rgb(0, 112, 245);
	--sys-purple: rgb(159, 75, 201);
	--sys-pink: rgb(245, 35, 75);
	--sys-red: rgb(255, 49, 38);
	--sys-orange: rgb(245, 139, 0);
	--sys-yellow: rgb(245, 194, 0);
	--sys-green: rgb(30, 195, 55);
	--sys-gray: rgb(132, 132, 137);

	--traffic-light-disabled: rgb(92, 92, 92);
	--traffic-light-disabled-border: rgb(92, 92, 92);
}

main.light {
	//window
	--topbar-BG: rgb(250, 250, 250);
	--topbar-BG-transparent: rgba(255, 255, 255, 0.7);
	--navbar-BG: rgb(231, 231, 231);
	--properties-BG: rgb(255, 255, 255);
	--grid-gap: rgb(196, 196, 196);

	--icon-filter: invert(20%);
	--icon-filter-muted: invert(30%);
	--icon-filter-invert: invert(100%);

	//area
	--panel: rgb(60, 60, 60);
	--panel2: rgb(41, 41, 41);
	--panel3: rgb(30, 30, 30);

	--text: rgb(22, 22, 22);
	--text-muted: rgb(37, 37, 37);
	--text-invert: rgb(226, 226, 226);
	--text-shadow: rgba(20, 20, 20, 0);

	--app-menu-content-BG: rgb(248, 248, 248);

	//elements
	--input-field: rgb(84, 84, 84);
	--input-border: rgb(61, 61, 61);
	--button: rgb(40, 40, 40);
	--hover: rgba(148, 148, 148, 0.3);
	--hover2: rgba(130, 130, 130, 0.3);

	&.win {
		--topbar-BG: rgb(255, 255, 255);
	}

	&.web {
		--topbar-BG: rgb(255, 255, 255);
	}

	--sys-blue: rgb(0, 112, 245);
	--sys-purple: rgb(159, 75, 201);
	--sys-pink: rgb(245, 35, 75);
	--sys-red: rgb(255, 49, 38);
	--sys-orange: rgb(245, 139, 0);
	--sys-yellow: rgb(245, 194, 0);
	--sys-green: rgb(30, 195, 55);
	--sys-gray: rgb(132, 132, 137);

	--traffic-light-disabled: rgb(225, 225, 225);
	--traffic-light-disabled-border: rgb(193, 193, 193);
}
