//window
$topBarBG:     rgb(54, 54, 54);
$sideBarBG:    rgb(36, 36, 36);
$propertiesBG: rgb(36, 36, 36);
$gridGap:      rgb(0, 0, 0);

//area
$panel:  rgba(60, 60, 60);
$panel2: rgba(48, 48, 48);
$panel3: rgba(36, 36, 36);

$text: rgba(255, 255, 255);

//elements
$inputField: rgba(110, 110, 110);
$hover: rgb(94, 94, 94);