.context-menu {
	z-index: 1000;
	position: fixed;
	display: flex;
	flex-direction: column;

	&:has(.item > img) {
		.item:not(:has(img)) {
			&::before {
				content: "";
				width: 28px;
				margin-right: -12px;
			}
		}
	}

	.item {
		display: flex;
		flex-direction: row;
		text-align: left;
		color: var(--text);
		background-color: transparent;

		&:hover {
			background-color: var(--hover);
		}

		&.disabled {
			opacity: 50%;
		}

		img {
			display: block;
			margin-right: -12px;
		}

		.name {
			display: block;
		}

		.accelerator {
			display: block;
		}
	}

	.seperator {
		margin: 0;
		height: 1px;
		background-color: var(--hover);
	}
}

main.win .context-menu {
	padding: 4px;
	gap: 4px;
	border-radius: 8px;
	background-color: var(--properties-BG);
	border: 1px solid rgb(26, 26, 26);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

	.item {
		display: flex;
		flex-direction: row;
		justify-content: left;
		gap: 8px;
		height: 28px;
		margin: 0 4px;
		border-radius: 5px;
		font-size: 14px;

		img {
			width: 28px;
			height: 28px;
		}

		.name {
			margin: 0 12px;
			flex: 1;
			line-height: 28px;
			font-weight: 500;
		}

		.accelerator {
			margin-right: 12px;
			opacity: 50%;
			line-height: 28px;
			font-weight: 700;
		}
	}
}
