@font-face {
	font-family: pure;
	font-weight: bold;
	src: url(../fonts/Outfit-Bold.ttf);
}

@font-face {
	font-family: pure;
	font-weight: normal;
	src: url(../fonts/Outfit-Medium.ttf);
}

@font-face {
	font-family: Inter;
	font-weight: 100 900;
	src: url("../fonts/Inter-VariableFont.ttf") format("ttf") tech("variable");
}
