.nav-list {
	display: flex;
	flex-direction: column;

	.nav-item {
		position: relative;
		display: flex;
		flex-direction: row;
		color: var(--text);
		background-color: transparent;

		p {
			color: var(--text);
			text-align: left;
		}
	}

	.nav-folder {
		display: flex;
		flex-direction: column;

		&.exposed {
			.nav-item .expander img {
				rotate: 0deg;
			}
		}

		.nav-item {
			.expander {
				img {
					rotate: -90deg;
				}
			}
		}

		.content {
			display: flex;
			flex-direction: column;
		}
	}
}

main.mac {
	.nav-list {
		padding: 8px;

		&:has(.nav-item .expander) {
			.nav-item:not(:has(.expander))::before {
				content: "";
				width: 16px;
			}
		}

		.category {
			height: 11px;
			margin: 18px 0 4px 0;
			line-height: 11px;
			font-size: 11rem;
			padding-left: 4px;
			font-weight: 400;
			opacity: 60%;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.nav-item {
			height: 28px;
			border-radius: 6px;

			&.active {
				background-color: var(--accent);

				img {
					filter: var(--icon-filter);
					-webkit-filter: var(--icon-filter);
				}
			}

			&:not(:has(.icon)) {
				padding-left: 6px;
			}

			img {
				filter: var(--icon-filter-muted);
				-webkit-filter: var(--icon-filter-muted);
			}

			.icon {
				width: 30px;
				height: 30px;
				margin: -1px;
			}

			p {
				margin: 0 0 0 0px;
				line-height: 28px;
				font-size: 13px;
				font-weight: 500;
			}
		}

		.nav-folder {
			.nav-item {
				.expander {
					width: 16px;
					height: 28px;
					translate: 3px 0;
					background-color: transparent;
				}
			}
		}
	}
}

main.tahoe {
	.nav-list {
		padding: 8px;

		&:has(.nav-item .expander) {
			.nav-item:not(:has(.expander))::before {
				content: "";
				width: 16px;
			}
		}

		.category {
			height: 11px;
			margin: 18px 0 4px 0;
			line-height: 11px;
			font-size: 11rem;
			padding-left: 4px;
			font-weight: 400;
			opacity: 60%;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.nav-item {
			height: 28px;
			border-radius: 6px;

			&.active {
				background-color: var(--accent);

				img {
					filter: var(--icon-filter);
					-webkit-filter: var(--icon-filter);
				}
			}

			&:not(:has(.icon)) {
				padding-left: 6px;
			}

			img {
				filter: var(--icon-filter-muted);
				-webkit-filter: var(--icon-filter-muted);
			}

			.icon {
				width: 30px;
				height: 30px;
				margin: -1px;
			}

			p {
				margin: 0 0 0 0px;
				line-height: 28px;
				font-size: 13px;
				font-weight: 500;
			}
		}

		.nav-folder {
			.nav-item {
				.expander {
					width: 16px;
					height: 28px;
					translate: 3px 0;
					background-color: transparent;
				}
			}
		}
	}
}

main.win {
	.nav-list {
		padding: 4px;

		.category {
			height: 11px;
			margin: 18px 0 4px 0;
			line-height: 11px;
			font-size: 11rem;
			padding-left: 4px;
			font-weight: 400;
			opacity: 60%;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.nav-item {
			height: 28px;
			border-radius: 6px;

			&.active {
				background-color: var(--hover);

				.icon {
					filter: var(--accent-filter);
					-webkit-filter: var(--accent-filter);
				}
			}

			&:not(:has(.icon)) {
				padding-left: 8px;
			}

			img {
				filter: var(--icon-filter-muted);
				-webkit-filter: var(--icon-filter-muted);
			}

			.icon {
				width: 30px;
				height: 30px;
				margin: -1px;
			}

			p {
				margin: 0 0 0 0px;
				line-height: 28px;
				font-size: 14px;
				font-weight: 400;
			}
		}

		.nav-folder {
			.nav-item {
				.expander {
					width: 28px;
					height: 28px;
					background-color: transparent;
				}
			}

			.content {
				.nav-item {
					padding-left: 14px;

					.icon {
						margin-left: 15px;
					}
				}
			}
		}
	}
}

main.web {
	.nav-list {
		padding: 8px;

		&:has(.nav-item .expander) {
			.nav-item:not(:has(.expander))::before {
				content: "";
				width: 16px;
			}
		}

		.category {
			height: 11px;
			margin: 18px 0 4px 0;
			line-height: 11px;
			font-size: 11rem;
			padding-left: 4px;
			font-weight: 400;
			opacity: 60%;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.nav-item {
			height: 28px;
			border-radius: 6px;

			&.active {
				background-color: var(--hover);

				img {
					filter: var(--accent-filter);
					-webkit-filter: var(--accent-filter);
				}
			}

			&:not(:has(.icon)) {
				padding-left: 6px;
			}

			img {
				filter: var(--icon-filter-muted);
				-webkit-filter: var(--icon-filter-muted);
			}

			.icon {
				width: 30px;
				height: 30px;
				margin: -1px;
			}

			p {
				margin: 0 0 0 0px;
				line-height: 28px;
				font-size: 13px;
				font-weight: 500;
			}
		}

		.nav-folder {
			&:has(.active) {
				background-color: rgba(91, 91, 91, 0.2);
				border-radius: 6px;

				& > .nav-item {
					background-color: transparent;
				}
			}

			.nav-item {
				.expander {
					width: 16px;
					height: 28px;
					translate: 3px 0;
					background-color: transparent;
				}
			}
		}
	}
}
