.nav-list {
	display: flex;
	flex-direction: column;

	.nav-item {
		display: flex;
		flex-direction: row;
		color: var(--text);
		background-color: transparent;

		p {
			color: var(--text);
			text-align: left;
		}
	}

	.nav-folder {
		display: flex;
		flex-direction: column;

		&.exposed {
			.nav-item .expander img {
				rotate: 0deg;
			}
		}

		.nav-item {
			.expander {
				img {
					rotate: -90deg;
				}
			}
		}

		.content {
			display: flex;
			flex-direction: column;
		}
	}
}

main.mac {
	.nav-list {
		padding: 8px;

		&.slim {
			.nav-item {
				height: 22px;

				.icon {
					width: 30px;
					height: 30px;
					margin: -4px;
				}

				p {
					line-height: 22px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}

			.nav-folder {
				.nav-item {
					.expander {
						height: 22px;

						img {
							margin: -4px;
						}
					}

					.icon {
						margin: -4px -4px -4px -6px;
					}
				}
			}
		}

		.category {
			height: 11px;
			margin: 18px 0 4px 0;
			line-height: 11px;
			font-size: 11rem;
			padding-left: 4px;
			font-weight: 400;
			opacity: 60%;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.nav-item {
			height: 28px;
			border-radius: 6px;

			&.active {
				background-color: var(--accent);

				img {
					filter: var(--icon-filter);
					-webkit-filter: var(--icon-filter);
				}
			}

			img {
				filter: var(--icon-filter-muted);
				-webkit-filter: var(--icon-filter-muted);
			}

			.icon {
				width: 30px;
				height: 30px;
				margin: -1px;
			}

			p {
				margin: 0 0 0 0px;
				line-height: 28px;
				font-size: 13px;
				font-weight: 500;
			}
		}

		.nav-folder {
			.nav-item {
				.expander {
					width: 16px;
					height: 28px;
					background-color: transparent;
				}
			}

			.content {
				.nav-item {
					padding-left: 14px;

					.icon {
						margin-left: 15px;
					}
				}
			}
		}
	}
}

main.win {
	.nav-list {
		padding: 4px;

		&.slim {
			.nav-item {
				height: 22px;

				.icon {
					width: 30px;
					height: 30px;
					margin: -4px;
				}

				p {
					line-height: 22px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}

			.nav-folder {
				.nav-item {
					.expander {
						height: 22px;

						img {
							margin: -4px;
						}
					}

					.icon {
						margin: -4px -4px -4px -6px;
					}
				}
			}
		}

		.category {
			height: 11px;
			margin: 18px 0 4px 0;
			line-height: 11px;
			font-size: 11rem;
			padding-left: 4px;
			font-weight: 400;
			opacity: 60%;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.nav-item {
			position: relative;
			height: 28px;
			border-radius: 6px;

			&.active {
				background-color: var(--hover);

				&::after {
					//content: "";
					position: absolute;
					left: 0;
					top: 6px;
					width: 3px;
					height: 16px;
					background-color: var(--accent);
					border-radius: 1.5px;
				}

				.icon {
					filter: var(--accent-filter);
					-webkit-filter: var(--accent-filter);
				}
			}

			img {
				filter: var(--icon-filter-muted);
				-webkit-filter: var(--icon-filter-muted);
			}

			.icon {
				width: 30px;
				height: 30px;
				margin: -1px;
			}

			p {
				margin: 0 0 0 0px;
				line-height: 28px;
				font-size: 14px;
				font-weight: 400;
			}
		}

		.nav-folder {
			.nav-item {
				.expander {
					width: 28px;
					height: 28px;
					background-color: transparent;
				}
			}

			.content {
				.nav-item {
					padding-left: 14px;

					.icon {
						margin-left: 15px;
					}
				}
			}
		}
	}
}

main.web {
}
