.sidebar {
	grid-area: sidebar;
	background-color: var(--navbar-BG);
}

main.tahoe {
  .sidebar {
    position: relative;
    background-color: transparent;

    .sidebar-inner {
      z-index: 1;
      inset: 8px;
      position: absolute;
      border-radius: var(--win-corner);
      background: var(--navbar-BG);
      backdrop-filter: blur(16px);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.434);
    }
  }
}