.prop-row {
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin: 6rem;
	overflow: hidden;

	&.inactive {
		opacity: 0.4;
	}

	.prop-name {
		margin: 0px;
		padding: 0px 8px 0px 0px;
		text-align: right;
		line-height: 20rem;
		font-size: 12rem;
		text-shadow: 1px 1px 2px var(--textShadow);
	}

	.prop-col {
		width: 60%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;

		&.s {
			width: 30%;
		}

		.prop {
			width: 100%;
			border-radius: 0;
			border-bottom: none !important;
		}

		:first-child {
			border-radius: var(--win-corner) var(--win-corner) 0 0;
		}

		:last-child {
			border-radius: 0 0 var(--win-corner) var(--win-corner);
		}
	}

	.prop {
		margin: 0px;
		padding: 0px;
		width: 60%;
		font-size: 11rem;

		&.optional {
			width: calc(60% - 18rem);
		}

		&.s {
			width: 30%;
		}
	}

	.checkbox {
		width: 60%;
		display: flex;
		flex-direction: row;

		.checkbox-desc {
			margin: 0 0 0 4rem;
			font-size: 12rem;
			line-height: 20rem;
			text-shadow: 1px 1px 2px var(--textShadow);
		}
	}

	input.prop {
		height: 20rem;
		box-sizing: border-box;
		font-size: 11rem;
		text-align: center;

		color: var(--text);
		background-color: var(--inputField);
		outline: none;
		border: none;
		border-radius: var(--win-corner);

		&[type="number"] {
			border: solid 1rem var(--inputBorder);
		}

		&[type="text"] {
			text-align: left;
			padding: 0 4rem;
			border: solid 1rem var(--inputBorder);
		}

		&[type="checkbox"] {
			width: 12rem;
			height: 12rem;
			margin: 4rem 4rem 4rem 0;
		}

		&[type="color"] {
			border: solid 1rem var(--inputBorder);
		}

		&[type="range"] {
		}
	}

	button.prop {
		height: 2rem;
		font-size: 2rem;
		text-align: center;

		color: var(--text);
		background-color: var(--button);
		outline: none;
		border: solid 1rem var(--inputBorder);
		border-radius: var(--win-corner);
	}
}

.prop-number {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 2px;
	height: 20px;

	&:has(:focus) {
		input {
			opacity: 100%;
		}

		p {
			opacity: 0%;
		}
	}

	input {
		-webkit-appearance: none;
		appearance: none;
		opacity: 0%;
		color: var(--text);
		background-color: transparent;
		line-height: 20px;
		font-size: 14px;
		text-align: center;
		border-radius: 6px;
		border: 1px solid gray;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.display {
		pointer-events: none;
		position: absolute;
		opacity: 100%;
		inset: 0 17px 0 0;
		color: var(--text);
		color: rgb(181, 181, 181);
		line-height: 20px;
		font-size: 14px;
		text-align: center;
		border-radius: 6px;
		border: 1px solid gray;
	}

	span {
		height: 20px;
		margin: auto 2px auto auto;
		display: flex;
		flex-direction: column;

		button {
			position: relative;
			height: 10px;
			width: 13px;
			background: linear-gradient(
				to bottom,
				rgb(128, 128, 128) 100%,
				rgb(46, 46, 46) 80%
			);
			border-radius: 6px 6px 0 0;

			.arrow-icon {
				position: absolute;
				inset: 0;
				pointer-events: none;
				width: 13px;
				height: 10px;
				margin: 0;
				filter: invert(1);
			}

			&:last-child {
				background: linear-gradient(
					to bottom,
					rgb(46, 46, 46) 0%,
					rgb(128, 128, 128) 20%
				);
				border-radius: 0 0 6px 6px;
			}
		}
	}
}
