.keymap-frame {
	display: flex;
	width: 100%;
	justify-content: center;
}

.keymap {
	box-sizing: border-box;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 4px;

	.row {
		display: flex;
		gap: 4px;

		.key {
			z-index: 1;
			position: relative;
			height: 36px;
			border: 2px solid white;
			border-radius: 4px;
			line-height: 32px;
			text-align: center;
			font-size: 12px;
			font-weight: 700;

			&.binded {
				background-color: var(--secondary);
			}

			&.selected {
			}

			&.modifier {
				color: var(--properties-BG);
				background-color: white;
			}

			&:hover {
				.operator {
					display: block;
				}
			}

			&:has(.shape) {
				border-color: transparent;
			}

			.icon {
				margin: 4px;
				width: 24px;
				height: 24px;
				filter: invert(1);
			}

			.shape {
				position: absolute;
				inset: auto -2px -2px auto;
				filter: invert(1);
			}
		}
	}

	.operator-list {
		.operator {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: 36px;
			width: 100%;
			margin-top: 6px;
			padding: 0 12px;
			color: var(--text);
			font-size: 14px;
			line-height: 36px;
			border-radius: 4px;
			background-color: rgb(37, 37, 37);

			.operator-name {
				width: 300px;
				font-weight: 800;
				color: var(--secondary);
			}

			.operator-key {
				font-weight: 500;
			}

			button {
				width: 38px;
				margin: 6px 6px;
				border-radius: 4px;
				font-weight: 700;
				line-height: 24px;
				font-size: 12px;
				color: var(--text);
				background-color: transparent;

				&.active {
					color: rgb(50, 50, 50);
					background-color: var(--text);
				}
			}
		}
	}
}

.settings {
	border-radius: var(--win-corner);

	.title-bar {
		grid-area: title;
		display: flex;
		flex-direction: row;
		justify-content: center;
		border-radius: var(--win-corner) var(--win-corner) 0 0 !important;

		.win-buttons-mac {
			position: absolute;
			top: 0;
			left: 0;
			height: 28px;
			padding: 7px;
		}

		.win-buttons-ms {
			height: 32px;

			button {
				height: 32px;
			}
		}
	}

	.tabs {
		grid-area: tabs;
		display: flex;
	}

	.content-wrapper {
		grid-area: content;

		.content {
			display: flex;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.content.update {
			display: flex;
			flex-direction: column;
			text-align: center;
			font-size: 13px;
			line-height: 20px;
			font-weight: 600;
			padding: 30px 100px;
		}
	}
}

main.mac.settings {
	grid-template-columns: 1fr;
	grid-template-rows: 28px 52px auto;
	grid-template-areas:
		"title"
		"tabs"
		"content";

	.title-bar {
		border: none;
	}

	.window-title {
		pointer-events: none;
		position: fixed;
		inset: 0 0 auto 0;
		height: 26px;
		line-height: 26px;
		text-align: center;
		font-size: 13px;
		font-weight: 700;
	}

	.tabs {
		flex-direction: row;
		justify-content: center;
		gap: 1px;
		background-color: var(--topbar-BG);
		border-bottom: 1px solid var(--grid-gap);

		.tab {
			height: 45px;
			min-width: 45px;
			border-radius: 6px;
			margin: auto 0 7px 0;
			display: flex;
			flex-direction: column;

			&:hover {
				background-color: var(--hover);
			}

			&.active {
				background-color: var(--hover);

				img {
					filter: var(--secondary-filter);
				}

				p {
					color: var(--secondary);
				}
			}

			img,
			.icon {
				height: 22px;
				width: 22px;
				margin: 3px auto 0 auto;
				filter: invert(90%);
			}

			p {
				margin-bottom: 3px;
				padding: 0 8px;
				line-height: 14px;
				font-size: 11px;
				font-weight: 700;
			}
		}
	}

	.content-wrapper {
		max-height: 600px;

		.content {
			max-height: 600px;
			overflow-y: scroll;
			background-color: var(--properties-BG);
		}
	}

	.content:has(.option) {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;

		.option {
			display: flex;
			flex-direction: row;
			font-size: 13px;
			font-weight: 500;
			margin: 20px 0 0 0;

			.name {
				width: 282px;
				margin-right: 8px;
				text-align: right;
			}

			input[type="checkbox"] {
				margin: 2px 8px 2px 0;
			}

			.select-container {
				position: relative;

				select {
					appearance: none;
					-webkit-appearance: none;
					width: 280px;
					height: 22px;
					border-radius: 5px;
					font-size: 13px;
					line-height: 16px;
					padding-left: 6px;
				}

				.arrow {
					position: absolute;
					inset: 3px 3px 3px auto;
					width: 16px;
					height: 16px;
					background-color: var(--secondary);
					box-shadow: 0 1px 3px color-mix(in hsl, var(--secondary), transparent);
					border-radius: 4px;

					img {
						width: 16px;
						height: 16px;
						filter: invert(100%);
					}
				}
			}
		}
	}
}

main.win.settings {
	grid-template-columns: 200px 1fr;
	grid-template-rows: 32px auto;
	grid-template-areas:
		"title title"
		"tabs content";
	background-color: var(--properties-BG);

	.title-bar {
		justify-content: space-between;
		background-color: var(--properties-BG);
	}

	.window-title {
		line-height: 32px;
		padding-left: 8px;
		font-size: 12px;
	}

	.tabs {
		flex-direction: column;
		gap: 4px;

		.tab {
			margin: 0 4px;
			height: 36px;
			border-radius: 6px;
			display: flex;
			flex-direction: row;
			justify-content: left;

			&:hover {
				background-color: var(--hover);
			}

			&.active {
				background-color: var(--hover);

				img {
					filter: var(--secondary-filter);
				}

				p {
					color: var(--secondary);
				}
			}

			img,
			.icon {
				height: 22px;
				width: 22px;
				margin: 7px;
				filter: invert(90%);
			}

			p {
				line-height: 36px;
				font-size: 13px;
			}
		}
	}

	.content {
		height: calc(100vh - 33px);
		overflow-y: scroll;
		background-color: var(--topbar-BG);
		border-radius: 8px 0 0 0;
		border: 1px solid var(--hover);
	}

	.content:has(.option) {
		display: flex;
		flex-direction: column;
		height: 100%;

		.option {
			display: flex;
			flex-direction: row;
			font-size: 13px;
			font-weight: 500;
			margin: 20px 0 0 0;

			.name {
				width: 202px;
				margin-right: 8px;
				text-align: right;
			}

			input[type="checkbox"] {
				margin: 2px 8px 2px 0;
			}

			select {
				width: 280px;
			}
		}
	}
}

main.web dialog.settings {
	grid-template-columns: 1fr;
	grid-template-rows: 28px 40px auto;
	grid-template-areas:
		"title"
		"tabs"
		"content";

	.title-bar {
		border: none;
	}

	.window-title {
		pointer-events: none;
		position: fixed;
		inset: 0 0 auto 0;
		height: 26px;
		line-height: 26px;
		text-align: center;
		font-size: 13px;
		font-weight: 700;
	}

	.tabs {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1px;
		background-color: var(--topbar-BG);
		border-bottom: 1px solid var(--grid-gap);

		.tab {
			height: 30px;
			border-radius: 6px;
			margin: 0 0 7px 0;
			display: flex;
			flex-direction: row;

			&:hover {
				background-color: var(--hover);
			}

			&.active {
				background-color: var(--hover);

				img {
					filter: var(--secondary-filter);
				}

				p {
					color: var(--secondary);
				}
			}

			img,
			.icon {
				height: 22px;
				width: 22px;
				margin: 4px;
				filter: invert(90%);
			}

			p {
				padding: 0 8px 0 0;
				line-height: 30px;
				font-size: 11px;
				font-weight: 700;
			}
		}
	}

	.content-wrapper {
		max-height: 600px;

		.content {
			max-height: 600px;
			overflow-y: scroll;
			background-color: var(--properties-BG);
		}
	}

	.content:has(.option) {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;

		.option {
			display: flex;
			flex-direction: row;
			font-size: 13px;
			font-weight: 500;
			margin: 20px 0 0 0;

			.name {
				width: 282px;
				margin-right: 8px;
				text-align: right;
			}

			input[type="checkbox"] {
				margin: 2px 8px 2px 0;
			}

			.select-container {
				position: relative;

				select {
					appearance: none;
					-webkit-appearance: none;
					width: 280px;
					height: 22px;
					border-radius: 5px;
					font-size: 13px;
					line-height: 16px;
					padding-left: 6px;
				}

				.arrow {
					position: absolute;
					inset: 3px 3px 3px auto;
					width: 16px;
					height: 16px;
					background-color: var(--secondary);
					box-shadow: 0 1px 3px color-mix(in hsl, var(--secondary), transparent);
					border-radius: 4px;

					img {
						width: 16px;
						height: 16px;
						filter: invert(100%);
					}
				}
			}
		}
	}
}
