.keymap-frame {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.keymap {
	box-sizing: border-box;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 4px;

	.row {
		display: flex;
		gap: 4px;

		.key {
			z-index: 1;
			position: relative;
			height: 36px;
			border: 2px solid white;
			border-radius: 4px;	
			line-height: 32px;
			text-align: center;
			font-size: 12px;
			font-weight: 700;

			&.binded {
				background-color: var(--secondary);
			}

			&.selected {

			}

			&.modifier {
				color: var(--properties-BG);
				background-color: white;
			}

			&:hover {
				.operator {
					display: block;
				}
			}

			&:has(.shape) {
				border-color: transparent;
			}

			.icon {
				margin: 4px;
				width: 24px;
				height: 24px;
				filter: invert(1);
			}

			.shape {
				position: absolute;
				inset: auto -2px -2px auto;
				filter: invert(1);
			}
		}
	}

	.active-selection {
		height: 36px;
		width: 100%;
		margin-top: 12px;
		padding: 0 12px;
		color: var(--properties-BG);
		font-size: 14px;
		line-height: 36px;
		background-color: white;
		border-radius: 4px;

		.key-name {
			display: inline;
			font-weight: 800;
			color: var(--secondary);
		}

		.key-function {
			display: inline;
			font-weight: 500;
		}
	}
}