@use "./colors";

main.tahoe .topbar {
	.win-buttons-mac {
		top: 0;
		left: 0;
		display: flex;

		button {
			width: 12px;
			height: 12px;
			box-sizing: border-box;
			border: none;
			border-width: 1px;
			border-radius: 50%;

			img {
				display: none;
				position: relative;
			}
		}

		&:hover {
			img {
				display: block;
			}
		}

		& > :nth-child(1) {
			background-color: rgb(254, 95, 87);
			border-color: rgb(127, 47, 43);
			margin-right: 8px;
		}

		& > :nth-child(2) {
			background-color: rgb(255, 188, 46);
			border-color: rgb(128, 94, 23);
			margin-right: 8px;
		}

		& > :nth-child(3) {
			background-color: rgb(40, 200, 65);
			border-color: rgb(20, 100, 33);
		}

		& > .disabled {
			background-color: var(--traffic-light-disabled);
			border-color: var(--traffic-light-disabled-border);

			img {
				display: none;
			}
		}
	}

	&.default {
		height: 32px;
		background-color: var(--topbar-BG);
		border-bottom: none;
		box-shadow:
			0px 0px 6px rgba(0, 0, 0, 0.4),
			0px 2px 16px rgba(0, 0, 0, 0.4);

		.win-buttons-mac {
			height: 32px;
			padding: 9px;
		}

		.window-title {
			height: 32px;
			line-height: 32px;
			font-size: 13px;
			font-weight: 600;
		}
	}

	&.buttonbar,
	&.toolbar {
		height: 54px;
		background-color: transparent;
		border-bottom: none;

		.topbar-container {
			gap: 12px;
			padding-right: 12px;

			.win-buttons-mac {
				height: 54px;
				padding: 20px 9px 20px 20px;
			}

			.app-menu {
				.app-menu-btn {
					font-weight: 600;
					height: 36px;
					width: 46px;
					margin: 9px 0 9px 0;
					padding: 0;
					border-radius: 18px;
					background-color: var(--topbar-BG);
					box-shadow:
						0px 0px 6px rgba(0, 0, 0, 0.4),
						0px 2px 16px rgba(0, 0, 0, 0.4);
				}

				.menu-content {
					padding: 5px;
					border-radius: 6px;
					background-color: var(--app-menu-content-BG);
					border: 1px solid rgba(128, 128, 128, 0.504);

					.app-menu-item {
						display: flex;
						flex-direction: row;
						justify-content: left;
						gap: 8px;
						height: 22px;
						line-height: 22px;
						padding: 0 6px 0 0;
						border-radius: 5px;
						font-size: 14px;

						&:hover {
							background-color: var(--accent);
						}

						img {
							width: 22px;
							height: 22px;
							margin-right: -6px;
							filter: var(--icon-filter);
						}
					}

					.seperator {
						margin: 4px 0;
					}
				}
			}

			.topbar-button {
				position: relative;
				height: 36px;
				width: 36px;
				margin: 9px 0 9px 0;
				padding: 0;
				border-radius: 18px;
				background-color: var(--topbar-BG);
				box-shadow:
					0px 0px 6px rgba(0, 0, 0, 0.4),
					0px 2px 16px rgba(0, 0, 0, 0.4);

				&:hover::before {
					content: "";
					position: absolute;
					inset: 3px;
					background-color: var(--hover);
					border-radius: 15px;
				}

				&.over-sidebar {
					background-color: transparent;
					box-shadow: none;
				}

				img {
					margin: 3px 3px;
				}
			}

			.document-title {
				height: 36px;
				margin: 9px 0;
				padding: 0 12px;
				border-radius: 18px;
				background-color: var(--topbar-BG);
				box-shadow:
					0px 0px 6px rgba(0, 0, 0, 0.4),
					0px 2px 16px rgba(0, 0, 0, 0.4);

				p {
					line-height: 36px;
					font-size: 13px;
					font-weight: 600;
				}

				.save-indicator {
					margin: 0 0 0 6px;
					font-size: 13px;
					font-weight: 400;
					opacity: 60%;
				}
			}

			.topbar-dropdown {
				&.attached {
					.topbar-button {
						width: 28px;
						margin: 0;

						&::before {
							border-radius: 6px 15px 15px 6px;
						}

						&::after {
							//content: '' !important;
							position: absolute;
							left: 1px;
							top: 9px;
							width: 1px;
							height: 18px;
							background-color: var(--hover);
						}

						.arrow {
							margin: 7px 4px;
						}
					}
				}

				.topbar-button {
					width: 60px;

					img {
						margin: -1px 2px;
					}

					.arrow {
						width: 16px;
						height: 22px;
						margin: 7px -4px;
					}
				}

				.dropdown {
					padding: 5px;
					border-radius: 6px;
					backdrop-filter: blur(40px);
					-webkit-backdrop-filter: blur(40px);
					background-color: rgb(21, 21, 21);
					border: 1px solid rgba(128, 128, 128, 0.504);

					.item {
						justify-content: left;
						height: 22px;
						line-height: 22px;
						padding: 0 5px;
						border-radius: 5px;
						font-size: 14px;

						&:hover {
							background-color: var(--accent);
						}

						img {
							width: 22px;
							height: 22px;
							margin-left: -5px;
							filter: var(--icon-filter);
							-webkit-filter: var(--icon-filter);
						}

						.name {
							line-height: 22px;
							height: 22px;
						}
					}

					.seperator {
						margin: 4px 0;
						border-top: 1px solid rgba(128, 128, 128, 0.2);
					}
				}
			}

			.select {
				line-height: 36px;
				margin: 9px 0;
				color: var(--text);
				background-color: transparent;

				.select-btn {
					height: 36px;
					color: var(--text);
					border-radius: 18px;
					background-color: var(--topbar-BG);
					box-shadow:
						0px 0px 6px rgba(0, 0, 0, 0.4),
						0px 2px 16px rgba(0, 0, 0, 0.4);

					&:hover::before {
						content: "";
						position: absolute;
						inset: 3px;
						background-color: var(--hover);
						border-radius: 15px;
					}

					.options {
						position: relative;
						p {
							height: 36px;
							line-height: 36px;
							margin-top: -36px;
							font-size: 12px;
							text-align: center;
							font-weight: 600;
							margin-left: 10px;
							margin-right: 10px;

							&:first-child {
								margin-top: 0;
							}
						}
					}
				}

				img {
					height: 16px;
					margin: auto 6px auto -8px;
					filter: var(--icon-filter);
				}

				.option-container {
					top: -6px;
					left: -6px;
					padding: 5px;
					gap: 0;
					border-radius: 12px;
					background-color: var(--topbar-BG);
					box-shadow: 0 0 6px rgba(0, 0, 0, 0.367);

					button {
						height: 22px;
						padding: 0 8px;
						text-align: left;
						line-height: 22px;
						font-size: 13px;
						color: var(--text);
						background-color: transparent;
						border-radius: 8px;

						&:hover {
							background-color: var(--hover);
						}
						
						&.selected {
							background-color: var(--accent);
						}
					}
				}
			}

			.topbar-group {
				height: 36px;
				margin: 9px 0 9px 0;
				border-radius: 18px;
				background-color: var(--topbar-BG);
				box-shadow:
					0px 0px 6px rgba(0, 0, 0, 0.4),
					0px 2px 16px rgba(0, 0, 0, 0.4);

				& > .topbar-button:last-child,
				& > .topbar-dropdown .topbar-button:last-child {
					margin: 0;
				}

				.topbar-button,
				.topbar-dropdown .topbar-button {
					margin: 0 -3px 0 0;
					background-color: transparent;
					box-shadow: none;
					backdrop-filter: none;

					&::after {
						content: "";
						position: absolute;
						left: 1px;
						top: 9px;
						width: 1px;
						height: 18px;
						background-color: var(--hover);
					}

					&:first-child::after {
						content: none;
					}

					&:hover {
						&::after {
							content: none;
						}
						& + ::after {
							content: none;
						}
					}
				}
			}
		}
	}
}
