main.web {
	.topbar {
		&.toolbar,
		&.default {
			height: 40px;

			.topbar-container {
				height: 40px;
				gap: 9px;
				padding-right: 9px;
				background-color: var(--topBarBG);
				border-bottom: 1px solid rgb(65, 65, 65);
				border-bottom: 1px solid var(--gridGap);

				.window-title {
					height: 40px;
					line-height: 40px;
					margin: 0;
					font-size: 13px;
					font-weight: 600;
				}

				.appMenu {
					.app-menu-btn {
						height: 28px;
						padding: 0 12px;
						margin: 13px 0;
						border-radius: 6px;
					}

					.menu-content {
						gap: 4px;
						padding: 4px 0;
						border-radius: 8px;
						backdrop-filter: blur(40px);
						box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

						button {
							height: 28px;
							margin: 0 4px;
							padding: 0 12px;
							border-radius: 4px;
							font-size: 14px;
						}
					}
				}

				.select {
					&:hover {
						.option-container {
							display: flex;
						}
					}

					.select-btn {
						height: 28px;
						margin: 13px 0;
						padding: 0 12px;
						border-radius: 6px;
						color: var(--text);
						background-color: transparent;
						border: 1px solid var(--hover);

						&:hover {
							background-color: var(--hover);
						}
					}

					.option-container {
						display: none;
						position: absolute;
						flex-direction: column;
						padding: 4px 0;
						gap: 4px;
						border-radius: 8px;
						background-color: var(--appMenuContentBG);
						backdrop-filter: blur(40px);
						box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

						button {
							height: 28px;
							margin: 0 4px;
							padding: 0 12px;
							border-radius: 4px;
							font-size: 14px;
							text-align: left;
							color: var(--text);
							background-color: transparent;

							&:hover {
								background-color: var(--hover);
							}

							&.selected {
								background-color: var(--hover2);
							}
						}
					}
				}

				.topbar-button {
					height: 22px;
					width: 36px;
					margin: 9px 0;
					padding: 0;
					border-radius: 6px;

					img {
						margin: 0;
					}
				}

				.topbar-group {
					height: 28px;
					margin: 13px 0 12px 0;
					border-radius: 6px;
				}

				.download-button {
					width: auto;
					padding: 0 8px;
				}
			}
		}

		&.buttonbar {
			.topbar-container {
				background-color: var(--topBarBG);
				border-bottom: 1px solid rgb(65, 65, 65);
				border-bottom: 1px solid var(--gridGap);
			}

			.topbar-content {
				gap: 9px;

				.app-menu {
					.app-menu-btn {
						height: 22px;
						padding: 0 8px;
						margin: 9px 0;
						border-radius: 6px;
					}

					.menu-content {
						gap: 4px;
						padding: 4px 0;
						border-radius: 8px;
						backdrop-filter: blur(40px);
						box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

						button {
							height: 28px;
							margin: 0 4px;
							padding: 0 12px;
							border-radius: 4px;
							font-size: 14px;
						}
					}
				}

				.tab-container {
					height: 22px;
					margin: 9px 0px;
					border: solid 1px var(--hover);
					border-radius: 6px;

					button {
						height: 20px;
						padding: 0 5px;
						border-radius: 5px;
					}
				}

				.topbar-button {
					height: 22px;
					width: 30px;
					margin: 9px 0;
					border-radius: 5px;
				}

				.topbar-group {
					height: 22px;
					margin: 9px 9px;
					border-radius: 5px;

					.topbar-button {
						margin: 0;
					}
				}
			}
		}
	}
}
