@use '../scss/_colors' as c;
@use '../scss/variables' as v;
@use '../scss/_mixins' as mix;

.topBar {
	//26px default
	//38px buttonBar
	//54px toolBar
	grid-area: topBar;
	height: var(--topBarHeight);
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: right;
	background-color: var(--topBarBG);

	.topBarContainer {
		position: fixed;
		width: 100vw;
		height: inherit;
		display: flex;
	}

	&.default {
		.winButtonsMac {
			height: 26px;
			padding: 7px;
		}

		.topBarContent {
			height: 26px;
			flex: 1;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			.windowTitle {
				height: 26px;
				margin: 0px auto;
				line-height: 26px;
				font-size: 12px;
			}
		}
	}

	&.toolBar {
		height: var(--topBarHeight);
		min-height: 54px;

		.topBarContent {
			height: var(--topBarHeight);
			flex: 1;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			.appMenu {
				&:hover {
					.menuContent { display: flex; }
				}

				.appMenuBtn {
					color: var(--text);
					background-color: var(--hover);
				}

				.menuContent {
					position: absolute;
					display: none;
					z-index: 400;
					flex-direction: column;
					background-color: var(--appMenuContentBG);

					button {
						text-align: left;
						color: var(--text);
						background-color: transparent;

						&:hover {
							background-color: var(--hover);
						}
					}

					.subMenu {
						.subMenuContent {
							position: absolute;
						}
					}

					.seperator {
						margin: 0;
						height: 1px;
						background-color: var(--hover);
					}
				}
			}

			.toolBarButton {
				background-color: transparent;

				img {
					filter: var(--toolIconColor);
				}

				&:hover {
					background-color: var(--hover);
				}
			}

			.toolBarSelector {
				display: flex;

				&:hover {
					background-color: var(--hover2);
				}

				.toolBarButton {
					margin: 0;

					&:hover {
						background-color: transparent;
					}
					&.active {
						background-color: var(--hover);
					}
				}
			}

			.spacer {
				flex: 1;
			}
		}
	}

	&.buttonBar {
		.winButtonsMac {
			height: 40px;
			padding: 14px;
		}

		.topBarContent {
			height: 40px;
			flex: 1;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			.tabContainer {
				height: 22px;
				margin: 9px 0px;
				border: solid 1px var(--hover);
				border-radius: 6px;

				button {
					height: 20px;
					padding: 0 5px;
					color: var(--text);
					background-color: transparent;
					border-radius: 5px;

					&:hover {
						background-color: var(--hover2);
					}

					&.active {
						background-color: var(--hover);
					}
				}
			}

			.buttonBarButton {
				height: 22px;
				width: 30px;
				margin: 9px 9px;
				border-radius: 5px;
				background-color: transparent;

				img {
					filter: var(--toolIconColor);
				}

				&:hover {
					background-color: var(--hover);
				}
			}

			.buttonBarSelector {
				height: 22px;
				margin: 9px 9px;
				border-radius: 5px;

				&:hover {
					background-color: var(--hover2);
				}

				.buttonBarButton {
					margin: 0;

					&:hover {
						background-color: transparent;
					}

					&.active {
						background-color: var(--hover);
					}
				}
			}
		}
	}
}

.winButtonsMac {
	top: 0;
	left: 0;
	display: flex;

	button {
		width: 12px;
		height: 12px;
		box-sizing: border-box;
		border: none;
		border-width: 1px;
		border-radius: 50%;

		object {
			display: none;
			position: relative;
		}
	}

	&:hover {
		object {
			display: block;
		}
	}

	&> :nth-child(1) {
		background-color: rgb(254, 95, 87);
		border-color: rgb(127, 47, 43);
		margin-right: 8px;
	}

	&> :nth-child(2) {
		background-color: rgb(255, 188, 46);
		border-color: rgb(128, 94, 23);
		margin-right: 8px;
	}

	&> :nth-child(3) {
		background-color: rgb(40, 200, 65);
		border-color: rgb(20, 100, 33);
	}
}

.winButtonsMS {
	top: 0px;
	right: 0px;
	display: flex;

	button {
		width: 45px;
		height: 30px;
		color: white;
		background-color: transparent;

		object {
			width: 10px;
			height: 10px;
		}
	}

	&> :nth-child(1) {
		&:hover {
			background-color: rgba(100, 100, 100, 0.4);
		}
	}

	&> :nth-child(2) {
		&:hover {
			background-color: rgba(100, 100, 100, 0.4);
		}
	}

	&> :nth-child(3) {
		border-top-right-radius: 9px;

		&:hover {
			background-color: rgb(255, 0, 0);
		}
	}
}

.logo {
	font-family: Louis;
	height: 40px;
	margin: auto 0 auto 12px;
	line-height: 40px;
	font-size: 15px;
	color: var(--text);
	text-decoration: none;

	b {
		font-weight: bold;
	}

	&:hover {
		text-decoration: underline;
	}
}

main.mac {
	.topBar {
		border-bottom: 1px solid var(--gridGap);
		border-radius: 0 8px 0 0;

		&.toolBar {
			.topBarContent {
				gap: 12px;
			}

			.winButtonsMac {
				height: 54px;
				padding: 21px;
			}

			.windowTitle {
				height: 28px;
				line-height: 28px;
				margin: 13px 0 12px 0;
				font-size: 13px;
				font-weight: 600;
			}

			select {
				height: 22px;
				margin: 16px 0 15px 0;
				padding: 0 10px;
				line-height: 22px;
				appearance: none;
				color: var(--text);
				background-color: transparent;
				border: 1px solid rgb(108, 108, 108);
				border-radius: 6px;
				
				option {
					color: black;
				}
			}

			select {
				
			}

			.toolBarButton {
				height: 28px;
				width: 40px;
				margin: 14px 0 13px 0;
				padding: 0;
				border-radius: 6px;

				img {
					margin: 0;
				}
			}

			.toolBarSelector {
				height: 28px;
				margin: 13px 0 12px 0;
				border-radius: 6px;
			}
		}
	}
}

main.win {
    .topBar {
		&.buttonBar {
			.topBarContainer {
				background-color: var(--topBarBG);
				border-bottom: 1px solid rgb(65, 65, 65);
				border-radius: 9px 9px 0px 0px;
			}

			.buttonBarButton {
				width: 30px;
				height: 28px;
				margin: 6px;
			}

			.buttonBarSelector {
				height: 28px;
				margin: 6px;

				.buttonBarButton {
					margin: 0;
				}
			}

			.tabContainer {
				border: none;
				height: 28px;
				margin: 6px 0;

				button {
					height: 28px;
					margin-right: 6px;
					width: 80px;
					background-color: rgb(41, 41, 41);
				}
			}
		}

		&.toolBar {
			
			.topBarContainer {
				background-color: var(--topBarBG);
				border-bottom: 1px solid rgb(65, 65, 65);
				border-radius: 9px 9px 0px 0px;
			}

			.topBarContent {
				gap: 9px;

				.appMenu {
					.appMenuBtn {
						height: 36px;
						padding: 0 12px;
						margin: 9px 0;
						border-radius: 5px;
					}
	
					.menuContent {
						gap: 4px;
						padding: 4px 0;
						border-radius: 8px;
						border: 1px solid rgb(26, 26, 26);
	
						button {
							height: 28px;
							margin: 0 4px;
							padding: 0 12px;
							border-radius: 5px;
							font-size: 14px;
						}
					}
				}

				.windowTitle {
					color: var(--text);
					height: 28px;
					line-height: 28px;
					margin: 13px 0 12px 0;
					font-size: 13px;
					font-weight: 600;
				}

				.select {
					&:hover {
						.optionContainer { display: flex; }
					}

					.selectBtn {
						height: 36px;
						margin: 9px 0;
						padding: 0 12px;
						border-radius: 5px;
						color: var(--text);
						background-color: transparent;

						&:hover {
							background-color: var(--hover);
						}
					}

					.optionContainer {
						display: none;
						position: absolute;
						flex-direction: column;
						padding: 4px 0;
						gap: 4px;
						border-radius: 8px;
						border: 1px solid rgb(26, 26, 26);
						background-color: var(--appMenuContentBG);

						button {
							height: 28px;
							margin: 0 4px;
							padding: 0 12px;
							border-radius: 4px;
							font-size: 14px;
							text-align: left;
							color: var(--text);
							background-color: transparent;

							&:hover {
								background-color: var(--hover);
							}

							&.selected {
								background-color: var(--hover2);
							}
						}
					}
				}
	
				.toolBarButton {
					height: 36px;
					width: 40px;
					margin: 9px 0 9px 0;
					border-radius: 5px;
	
					img {
						margin: auto 0px;
					}
				}
	
				.toolBarSelector {
					height: 36px;
					margin: 9px 0;
					border-radius: 5px;

					.toolBarButton {
						margin: 0;
					}
				}
			}
		}
	}
}

main.web {
    .topBar {
		&.buttonBar {
			.topBarContainer {
				background-color: var(--topBarBG);
				border-bottom: 1px solid rgb(65, 65, 65);
				border-bottom: 1px solid var(--gridGap);
			}
		}

		&.toolBar {

			.topBarContainer {
				background-color: var(--topBarBG);
				border-bottom: 1px solid rgb(65, 65, 65);
				border-bottom: 1px solid var(--gridGap);
			}

			.topBarContent {
				gap: 12px;
			}

			.windowTitle {
				height: 28px;
				line-height: 28px;
				margin: 13px 0 12px 0;
				font-size: 13px;
				font-weight: 600;
			}

			.appMenu {
				.appMenuBtn {
					height: 28px;
					padding: 0 12px;
					margin: 13px 0;
					border-radius: 6px;
				}

				.menuContent {
					gap: 4px;
					padding: 4px 0;
					border-radius: 8px;
					backdrop-filter: blur(40px);
					box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

					button {
						height: 28px;
						margin: 0 4px;
						padding: 0 12px;
						border-radius: 4px;
						font-size: 14px;
					}
				}
			}

			.select {
				&:hover {
					.optionContainer { display: flex; }
				}

				.selectBtn {
					height: 28px;
					margin: 13px 0;
					padding: 0 12px;
					border-radius: 6px;
					color: var(--text);
					background-color: transparent;
					border: 1px solid var(--hover);

					&:hover {
						background-color: var(--hover);
					}
				}

				.optionContainer {
					display: none;
					position: absolute;
					flex-direction: column;
					padding: 4px 0;
					gap: 4px;
					border-radius: 8px;
					background-color: var(--appMenuContentBG);
					backdrop-filter: blur(40px);
					box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

					button {
						height: 28px;
						margin: 0 4px;
						padding: 0 12px;
						border-radius: 4px;
						font-size: 14px;
						text-align: left;
						color: var(--text);
						background-color: transparent;

						&:hover {
							background-color: var(--hover);
						}

						&.selected {
							background-color: var(--hover2);
						}
					}
				}
			}

			.toolBarButton {
				height: 28px;
				width: 40px;
				margin: 14px 0 13px 0;
				padding: 0;
				border-radius: 6px;

				img {
					margin: 0;
				}
			}

			.toolBarSelector {
				height: 28px;
				margin: 13px 0 12px 0;
				border-radius: 6px;
			}
		}
	}
}