main.win .topbar {
	.topbar-container {
		.menu-content {
			gap: 4px;
			padding: 4px 0;
			border-radius: 8px;
			border: 1px solid rgb(26, 26, 26);
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

			.app-menu-item {
				display: flex;
				flex-direction: row;
				justify-content: left;
				gap: 8px;
				height: 28px;
				margin: 0 4px;
				border-radius: 5px;
				font-size: 14px;

				img {
					width: 28px;
					height: 28px;
					filter: var(--icon-filter);
				}

				.name {
					margin: 0 12px;
					flex: 1;
					line-height: 28px;
					font-weight: 500;
				}

				.accelerator {
					margin-right: 12px;
					opacity: 50%;
					line-height: 28px;
					font-weight: 700;
				}
			}
		}

		.window-title {
			font-size: 12px;
			font-weight: 400;
		}

		.topbar-dropdown {
			&.exposed {
				.topbar-button {
					background-color: var(--hover);
				}
			}

			&.attached {
				.topbar-button {
					.arrow {
						margin: 0;
					}
				}
			}

			.topbar-button {
				.arrow {
					width: 16px;
					height: 30px;
					margin: 0 0 0 -3px;
				}
			}

			.dropdown {
				gap: 4px;
				padding: 4px 0;
				border-radius: 8px;
				border: 1px solid rgb(26, 26, 26);
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

				.item {
					justify-content: left;
					height: 28px;
					margin: 0 4px;
					padding: 0 6px;
					border-radius: 5px;
					font-size: 14px;

					img {
						width: 28px;
						height: 28px;
						margin-left: -6px;
						filter: var(--icon-filter);
						-webkit-filter: var(--icon-filter);
					}

					.name {
						line-height: 28px;
						font-weight: 500;
					}
				}
			}
		}

		.select {
			.selectBtn {
				height: 32px;
				margin: 6px 0;
				padding: 0 12px;
				border-radius: 5px;
				color: var(--text);
				background-color: transparent;

				&:hover {
					background-color: var(--hover);
				}
			}

			.option-container {
				padding: 4px 0;
				gap: 4px;
				border-radius: 8px;
				border: 1px solid rgb(26, 26, 26);
				background-color: var(--app-menu-content-BG);

				button {
					height: 28px;
					margin: 0 4px;
					padding: 0 12px;
					border-radius: 4px;
					font-size: 14px;
					text-align: left;
					color: var(--text);
					background-color: transparent;

					&:hover {
						background-color: var(--hover);
					}

					&.selected {
						background-color: var(--hover2);
					}
				}
			}
		}

		.win-buttons-ms {
			top: 0;
			right: 0;
			display: flex;

			button {
				width: 45px;
				height: 32px;
				color: white;
				background-color: transparent;

				&:hover {
					background-color: rgba(100, 100, 100, 0.4);
				}

				img {
					width: 10px;
					height: 10px;
					filter: var(--icon-filter-invert);
				}
			}

			.close {
				border-top-right-radius: 9px;

				&:hover {
					background-color: rgb(255, 0, 0);
				}
			}

			.disabled {
				&:hover {
					background: transparent;
				}
				img {
					filter: opacity(50%);
				}
			}
		}
	}

	&.default {
		height: 32px;

		.window-title {
			height: 32px;
			line-height: 32px;
		}
	}

	&.buttonbar {
		height: 32px;

		.topbar-container {
			background-color: var(--topbar-BG);
			border-bottom: 1px solid var(--grid-gap);
			border-radius: 9px 9px 0px 0px;
			gap: 6px;
			padding-left: 6px;

			.app-menu {
				.app-menu-btn {
					height: 22px;
					padding: 0 8px;
					margin: 5px 0;
					border-radius: 5px;
				}
			}

			.window-title {
				height: 32px;
				line-height: 32px;
				font-size: 12px;
				font-weight: 400;
			}

			.save-indicator {
				height: 32px;
				line-height: 32px;
				margin: 0;
				font-size: 12px;
				font-weight: 400;
				opacity: 60%;
			}

			.topbar-button {
				width: 30px;
				height: 22px;
				margin: 5px 0;
				border-radius: 5px;

				img {
					margin: -4px 0;
				}
			}

			.topbar-dropdown {
				&.attached {
					.topbar-button {
						width: 22px;
					}

					.arrow {
						margin: -4px 0 0 3px;
					}
				}

				.topbar-button {
					width: 48px;
				}

				.arrow {
					width: 16px;
					height: 30px;
					margin: -4px 0 0 0;
				}
			}

			.tab-container {
				display: flex;
				flex-direction: row;
				gap: 6px;
				margin: 6px 0;
				border: none;
				height: 22px;

				button {
					height: 22px;
					width: 80px;
					background-color: rgb(41, 41, 41);
					border-radius: 5px;
				}
			}

			.topbar-group {
				height: 22px;
				margin: 6px;
				border-radius: 5px;

				.topbar-button {
					margin: 0;
				}
			}
		}
	}

	&.toolbar {
		height: 44px;

		.topbar-container {
			height: 44px;
			gap: 8px;
			padding-left: 6px;
			background-color: var(--topbar-BG);
			border-bottom: 1px solid var(--grid-gap);
			border-radius: 9px 9px 0px 0px;

			.app-menu {
				.app-menu-btn {
					height: 28px;
					padding: 0 12px;
					margin: 8px 0;
					border-radius: 5px;
				}
			}

			.window-title {
				height: 28px;
				line-height: 28px;
				padding: 0 8px;
				margin: 8px 0;
				font-size: 12px;
				font-weight: 600;
				border-radius: 5px;

				&:hover {
					background-color: var(--hover);
				}
			}

			.topbar-button {
				height: 28px;
				width: 28px;
				margin: 8px 0 8px 0;
				border-radius: 5px;

				img {
					margin: -1px -1px;
				}
			}

			.topbar-dropdown {
				&.attached {
					.topbar-button {
						width: 30px;
					}

					.arrow {
						margin: 0 7px;
					}
				}

				.topbar-button {
					width: 48px;
				}

				.arrow {
					width: 16px;
					height: 30px;
					margin: 0 0 0 0px;
				}
			}

			.topbar-group {
				height: 28px;
				margin: 8px 0;
				border-radius: 5px;

				.topbar-button {
					margin: 0;
				}
			}

			.win-buttons-ms {
				button {
					height: 44px;
				}
			}
		}
	}

	.tooltip {
		height: 28px;
		line-height: 28px;
		padding: 0 12px;
		color: var(--text);
		background-color: var(--topbar-BG);
	}
}
