@use "../scss/_colors" as c;
@use "../scss/variables" as v;
@use "../scss/_mixins" as mix;

.topbar {
	//28px default
	//38px buttonBar
	//54px toolBar
	grid-area: topbar;
	top: 0;
	right: 0;
	background-color: var(--topbar-BG);

	&.default {
		.topbar-container {
			.window-title {
				margin: 0px auto;
				font-size: 12px;
			}
		}
	}

	&.buttonbar {
		.topbar-container {
			position: fixed;
			width: 100vw;

			.tab-container {
				display: flex;
				flex-direction: row;

				button {
					color: var(--text);
					background-color: transparent;

					&:hover {
						background-color: var(--hover2);
					}

					&.active {
						background-color: var(--hover);
					}
				}
			}

			.topbar-button {
				background-color: transparent;

				img {
					filter: var(--icon-filter);
				}

				&:hover {
					background-color: var(--hover);
				}
			}
		}
	}

	&.toolbar {
		.topbar-container {
			.topbar-button {
				background-color: transparent;

				img {
					filter: var(--icon-filter);
				}

				&:hover {
					background-color: var(--hover);
				}

				&.disabled {
					opacity: 50%;
				}
			}
		}
	}

	&.tabbar {
		.spacer {
			flex: 1;
		}
	}

	.topbar-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		//background-color: var(--topbar-BG);

		.spacer {
			flex: 10;
			pointer-events: none;
		}

		.spacer-fix {
			flex: 1;
			pointer-events: none;
		}

		.app-menu {
			.app-menu-btn {
				color: var(--text);
				background-color: var(--hover);
			}

			.menu-content {
				position: absolute;
				display: flex;
				z-index: 400;
				flex-direction: column;
				background-color: var(--app-menu-content-BG);

				&:has(.app-menu-item > img) {
					.app-menu-item:not(:has(img)) {
						&::before {
							content: "";
							width: 28px;
							margin-right: -12px;
						}
					}
				}

				.app-menu-item {
					display: flex;
					flex-direction: row;
					text-align: left;
					color: var(--text);
					background-color: transparent;

					&:hover {
						background-color: var(--hover);
					}

					&.disabled {
						opacity: 50%;
					}

					img {
						display: block;
						margin-right: -12px;
					}

					.name {
						display: block;
					}

					.accelerator {
						display: block;
					}
				}

				.sub-menu {
					.sub-menu-content {
						position: absolute;
					}
				}

				.seperator {
					margin: 0;
					height: 1px;
					background-color: var(--hover);
				}
			}
		}

		.topbar-dropdown {
			position: relative;

			&.attached {
			}

			.topbar-button {
				color: var(--text);
				//background-color: var(--hover);
				display: flex;
				flex-direction: row;
			}

			.dropdown {
				position: absolute;
				right: 0;
				z-index: 400;
				display: flex;
				flex-direction: column;
				background-color: var(--app-menu-content-BG);

				.item {
					display: flex;
					flex-direction: row;
					text-align: left;
					color: var(--text);
					background-color: transparent;

					&:hover {
						background-color: var(--hover);
					}

					img {
						display: block;
					}

					.name {
						display: block;
						overflow: hidden;
						width: max-content;
					}
				}
			}
		}

		.topbar-group {
			display: flex;
			flex-direction: row;

			&:hover {
				background-color: var(--hover2);
			}

			.topbar-button {
				margin: 0;

				&:hover {
					background-color: transparent;
				}

				&.active {
					background-color: var(--hover);
				}
			}
		}

		.topbar-button:hover {
			.tooltip {
				display: block;
			}
		}

		.tooltip {
			display: none;
			position: absolute;
			z-index: 1;
		}
	}
}
