@use "./colors";

main.tahoe .topbar {
	border-bottom: 1px solid var(--grid-gap);
	border-radius: 0 8px 0 0;

	&.buttonbar,
	&.toolbar {
		background-color: transparent;
		border-bottom: none;
	}

	.topbar-container {
		.win-buttons-mac {
			top: 0;
			left: 0;
			display: flex;

			button {
				width: 14px;
				height: 14px;
				box-sizing: border-box;
				border: solid;
				border-width: 1px;
				border-radius: 50%;

				img {
					display: none;
					position: relative;
				}
			}

			&:hover {
				img {
					display: block;
				}
			}

			& > :nth-child(1) {
				background-color: rgb(254, 95, 87);
				border-color: rgb(127, 47, 43, 0.4);
				margin-right: 8px;
			}

			& > :nth-child(2) {
				background-color: rgb(255, 188, 46);
				border-color: rgb(128, 94, 23, 0.4);
				margin-right: 8px;
			}

			& > :nth-child(3) {
				background-color: rgb(40, 200, 65);
				border-color: rgb(20, 100, 33, 0.4);
			}

			& > .disabled {
				background-color: var(--traffic-light-disabled);
				border-color: var(--traffic-light-disabled-border);

				img {
					display: none;
				}
			}
		}

		.app-menu {
			.app-menu-btn {
				font-weight: 600;
			}

			.menu-content {
				padding: 5px;
				border-radius: 6px;
				background-color: var(--app-menu-content-BG);
				border: 1px solid rgba(128, 128, 128, 0.504);

				.app-menu-item {
					display: flex;
					flex-direction: row;
					justify-content: left;
					gap: 8px;
					height: 22px;
					line-height: 22px;
					padding: 0 6px 0 0;
					border-radius: 5px;
					font-size: 14px;

					&:hover {
						background-color: var(--accent);
					}

					img {
						width: 22px;
						height: 22px;
						margin-right: -6px;
						filter: var(--icon-filter);
					}
				}

				.seperator {
					margin: 4px 0;
				}
			}
		}

		.window-title {
			font-size: 13px;
			font-weight: 600;
		}

		.document-title {
			height: 36px;
			margin: 9px 0;
			padding: 0 12px;
			border-radius: 18px;
			@include colors.liquid-glass;

			p {
				line-height: 36px;
				font-size: 13px;
				font-weight: 600;
			}

			.save-indicator {
				margin: 0 0 0 6px;
				font-size: 13px;
				font-weight: 400;
				opacity: 60%;
			}
		}

		.topbar-dropdown {
			&.attached {
				.topbar-button {
					width: 16px;

					.arrow {
						margin: 0;
					}
				}
			}

			.topbar-button {
				width: 46px;

				img {
					margin: -1px 2px;
				}

				.arrow {
					width: 16px;
					height: 30px;
					margin: 0 0 0 -6px;
				}
			}

			.dropdown {
				padding: 5px;
				border-radius: 6px;
				backdrop-filter: blur(40px);
				-webkit-backdrop-filter: blur(40px);
				background-color: rgb(21, 21, 21);
				border: 1px solid rgba(128, 128, 128, 0.504);

				.item {
					justify-content: left;
					height: 22px;
					line-height: 22px;
					padding: 0 5px;
					border-radius: 5px;
					font-size: 14px;

					&:hover {
						background-color: var(--accent);
					}

					img {
						width: 22px;
						height: 22px;
						margin-left: -5px;
						filter: var(--icon-filter);
						-webkit-filter: var(--icon-filter);
					}

					.name {
						line-height: 22px;
						height: 22px;
					}
				}

				.seperator {
					margin: 4px 0;
					border-top: 1px solid rgba(128, 128, 128, 0.2);
				}
			}
		}

		.topbar-group {
			gap: 1px;
		}
	}

	&.default {
		height: 32px;
		background-color: transparent;
		border-bottom: none;
		@include colors.liquid-glass;

		.win-buttons-mac {
			height: 32px;
			padding: 9px;
		}

		.window-title {
			height: 32px;
			line-height: 32px;
			font-size: 13px;
			font-weight: 600;
		}
	}

	&.buttonbar,
	&.toolbar {
		height: 54px;

		.topbar-container {
			gap: 12px;
			padding-right: 12px;

			.win-buttons-mac {
				height: 54px;
				padding: 20px 9px 20px 20px;
			}

			.app-menu {
				.app-menu-btn {
					height: 36px;
					width: 46px;
					margin: 9px 0 9px 0;
					padding: 0;
					border-radius: 18px;
					@include colors.liquid-glass;
				}
			}

			.window-title {
				height: 28px;
				line-height: 28px;
				margin: 13px 0 13px 0;
				font-size: 13px;
				font-weight: 600;
			}

			.topbar-button {
				height: 36px;
				width: 36px;
				margin: 9px 0 9px 0;
				padding: 0;
				border-radius: 18px;
				@include colors.liquid-glass;

				&:hover {
				}

				&.over-sidebar {
					background-color: transparent;
					box-shadow: none;
				}

				img {
					margin: 3px 3px;
				}
			}

			.topbar-dropdown {
				&.attached {
					.topbar-button {
						width: 24px;
						border-radius: 6px 18px 18px 6px;
					}
				}
				.topbar-button {
					width: 60px;

					.arrow {
						width: 16px;
						height: 22px;
						margin: 7px 0 0 2px;
					}
				}
			}

			.select {
				line-height: 36px;
				margin: 9px 0;
				color: var(--text);
				background-color: transparent;

				.select-btn {
					height: 36px;
					padding: 0 10px;
					color: var(--text);
					border-radius: 18px;
					@include colors.liquid-glass;

					&:hover {
						background-color: var(--hover);
					}
				}

				.option-container {
					top: -6px;
					left: -6px;
					padding: 5px;
					gap: 0;
					border: 1px solid rgba(128, 128, 128, 0.437);
					border-radius: 6px;
					backdrop-filter: blur(44px);
					-webkit-backdrop-filter: blur(40px);
					background-color: rgba(21, 21, 21, 0.6);
					box-shadow: 0 0 6px rgba(0, 0, 0, 0.367);

					button {
						height: 22px;
						padding: 0 6px;
						text-align: left;
						line-height: 22px;
						font-size: 13px;
						color: var(--text);
						background-color: transparent;
						border-radius: 5px;

						&.selected {
							background-color: var(--accent);
						}

						&:hover {
							background-color: var(--accent);
						}
					}
				}
			}

			.topbar-group {
				height: 36px;
				margin: 9px 0 9px 0;
				border-radius: 18px;
				@include colors.liquid-glass;

				.topbar-button {
					margin: 0;
					background-color: transparent;
					box-shadow: none;
					backdrop-filter: none;

					&:hover {
						background-color: var(--hover);
					}
				}
			}
		}
	}
}
