@use '../scss/_colors' as c;
@use '../scss/variables' as v;
@use '../scss/_mixins' as mix;

.topBar {
	//26px default
	//38px buttonBar
	//54px toolBar
	grid-area: topBar;
	height: var(--topBarHeight);
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: right;
	background-color: var(--topBarBG);
	border-bottom: 1px solid var(--gridGap);
    border-radius: 0 8px 0 0;

	.logo {
		font-family: Louis;
		height: 40px;
		margin: auto 0 auto 12px;
		line-height: 40px;
		font-size: 15px;
		color: var(--text);
		text-decoration: none;

		b {
			font-weight: bold;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.topBarContainer {
		position: fixed;
		width: 100vw;
		height: inherit;
		display: flex;
	}

	&.default {
		.winButtonsMac {
			height: 26px;
			padding: 7px;
		}

		.topBarContent {
			height: 26px;
			flex: 1;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			.windowTitle {
				height: 26px;
				margin: 0px auto;
				line-height: 26px;
				font-size: 12px;
			}
		}
	}

	&.toolBar {
		height: 54px;
		min-height: 54px;

		.winButtonsMac {
			height: 54px;
			padding: 21px;
		}

		.topBarContent {
			height: 54px;
			flex: 1;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 12px;

			.windowTitle {
				height: 28px;
				line-height: 28px;
				margin: 13px 0 12px 0;
				font-size: 13px;
				font-weight: 600;
			}

			select {
				height: 22px;
				margin: 16px 0 15px 0;
				padding: 0 10px;
				line-height: 22px;
				background-color: transparent;
				appearance: none;
				color: var(--text);
				border: 1px solid rgb(108, 108, 108);
				border-radius: 6px;

				option {
					color: black;
					background-color: transparent;
					border-radius: 0;
				}
			}

			.toolBarButton {
				height: 28px;
				width: 39px;
				margin: 14px 0 13px 0;
				border-radius: 6px;
				background-color: transparent;

				img {
					filter: var(--toolIconColor);
				}

				&:hover {
					background-color: var(--hover);
				}
			}

			.toolBarSelector {
				height: 28px;
				margin: 13px 0 12px 0;
				border-radius: 6px;
				display: flex;

				&:hover {
					background-color: var(--hover2);
				}

				.toolBarButton {
					margin: 0;

					&:hover {
						background-color: transparent;
					}
					&.active {
						background-color: var(--hover);
					}
				}
			}

			.spacer {
				flex: 1;
			}
		}
	}

	&.buttonBar {
		.winButtonsMac {
			height: 40px;
			padding: 14px;
		}

		.topBarContent {
			height: 40px;
			flex: 1;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			.tabContainer {
				height: 22px;
				margin: 9px 0px;
				border: solid 1px var(--hover);
				border-radius: 6px;

				button {
					height: 20px;
					padding: 0 5px;
					color: var(--text);
					background-color: transparent;
					border-radius: 5px;

					&:hover {
						background-color: var(--hover2);
					}

					&.active {
						background-color: var(--hover);
					}
				}
			}

			.buttonBarButton {
				height: 22px;
				width: 30px;
				margin: 9px 9px;
				border-radius: 5px;
				background-color: transparent;

				.icon {
					filter: var(--toolIconColor);
				}

				&:hover {
					background-color: var(--hover);
				}
			}

			.buttonBarSelector {
				height: 22px;
				margin: 9px 9px;
				border-radius: 5px;

				&:hover {
					background-color: var(--hover2);
				}

				.buttonBarButton {
					margin: 0;

					&:hover {
						background-color: transparent;
					}

					&.active {
						background-color: var(--hover);
					}
				}
			}
		}
	}
}

.winButtonsMac {
	top: 0;
	left: 0;
	display: flex;

	button {
		width: 12px;
		height: 12px;
		box-sizing: border-box;
		border: none;
		border-width: 1px;
		border-radius: 50%;

		object {
			display: none;
			position: relative;
		}
	}

	&:hover {
		object {
			display: block;
		}
	}

	&> :nth-child(1) {
		background-color: rgb(254, 95, 87);
		border-color: rgb(127, 47, 43);
		margin-right: 8px;
	}

	&> :nth-child(2) {
		background-color: rgb(255, 188, 46);
		border-color: rgb(128, 94, 23);
		margin-right: 8px;
	}

	&> :nth-child(3) {
		background-color: rgb(40, 200, 65);
		border-color: rgb(20, 100, 33);
	}
}

.winButtonsMS {
	top: 0px;
	right: 0px;
	display: flex;

	button {
		width: 45px;
		height: 30px;
		color: white;
		background-color: transparent;

		object {
			width: 16px;
			height: 16px;
		}
	}

	&> :nth-child(1) {
		&:hover {
			background-color: rgba(100, 100, 100, 0.4);
		}
	}

	&> :nth-child(2) {
		&:hover {
			background-color: rgba(100, 100, 100, 0.4);
		}
	}

	&> :nth-child(3) {
		border-top-right-radius: 9px;

		&:hover {
			background-color: rgb(255, 0, 0);
		}
	}
}

body.win {
    .topBar {
		&.buttonBar > .topBarContainer {
			background-color: rgb(29, 29, 29);
			border-bottom: 1px solid rgb(65, 65, 65);
			border-radius: 9px 9px 0px 0px;

			.buttonBarButton {
				width: 30px;
				height: 28px;
				margin: 6px;
			}

			.buttonBarSelector {
				height: 28px;
				margin: 6px;

				.buttonBarButton {
					margin: 0;
				}
			}

			.tabContainer {
				border: none;
				height: 28px;
				margin: 6px 0;

				button {
					height: 28px;
					margin-right: 6px;
					width: 80px;
					background-color: rgb(41, 41, 41);
				}
			}
		}

		&.toolBar > .topBarContainer{
			background-color: rgb(29, 29, 29);
			border-bottom: 1px solid rgb(65, 65, 65);
			border-radius: 9px 9px 0px 0px;
		}
	}
}

body.web {
    .topBar {
		&.buttonBar > .topBarContainer {
			background-color: rgb(29, 29, 29);
			border-bottom: 1px solid rgb(65, 65, 65);
			border-bottom: 1px solid var(--gridGap);
		}

		&.toolBar > .topBarContainer {
			background-color: rgb(29, 29, 29);
			border-bottom: 1px solid rgb(65, 65, 65);
			border-bottom: 1px solid var(--gridGap);
		}
	}
}