main.web .topbar {
	.topbar-container {
		.topbar-webmenu {
			height: 40px;
			margin: auto 0;
			line-height: 40px;
			font-size: 15px;
			color: var(--text);
			text-decoration: none;

			.webmenu-btn {
				height: 36px;
				padding: 0 12px;
				color: var(--text);
				background-color: transparent;

				p {
					font-weight: 300;

					b {
						font-weight: 600;
						color: var(--accent);
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.popover {
				position: absolute;
				z-index: 400;
				width: 186px;
				display: flex;
				flex-direction: column;
				background-color: var(--app-menu-content-BG);
				box-shadow: 0 4px 18px rgba(0, 0, 0, 0.623);
				border-radius: 6px;

				a {
					display: flex;
					flex-direction: row;
					text-decoration: none;

					&.active {
						p {
							font-weight: 700;
						}
					}

					img {
						width: 18px;
						height: 18px;
						margin: 11px;
					}

					.svg-icon {
						filter: var(--icon-filter);
					}

					p {
						flex: 10;
						color: var(--text);
						font-weight: 400;
						transition: 200ms;
					}

					.tag {
						flex: 1;
						height: 20px;
						line-height: 20px;
						margin: 10px 11px;
						padding: 0 4px;
						border-radius: 4px;
						text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
					}
				}
			}
		}

		.app-menu {
			.menu-content {
				gap: 4px;
				padding: 4px 0;
				background-color: var(--app-menu-content-BG);
				border-radius: 8px;
				border: 1px solid rgb(26, 26, 26);
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

				.app-menu-item {
					display: flex;
					flex-direction: row;
					justify-content: left;
					gap: 8px;
					height: 28px;
					margin: 0 4px;
					border-radius: 5px;
					font-size: 14px;

					img {
						width: 28px;
						height: 28px;
						filter: var(--icon-filter);
					}

					.name {
						margin: 0 12px;
						flex: 1;
						line-height: 28px;
						font-weight: 500;
					}

					.accelerator {
						margin-right: 12px;
						opacity: 50%;
						line-height: 28px;
						font-weight: 700;
					}
				}
			}
		}

		.theme-toggle {
			position: relative;

			&.dark {
				#sun {
					opacity: 0%;
					rotate: 0deg;
				}

				#moon {
					opacity: 100%;
					rotate: 0deg;
				}
			}

			img {
				position: absolute;
				inset: -4px 3px !important;
				opacity: 100%;
				rotate: 180deg;
				transition: 500ms;
			}

			#moon {
				opacity: 0%;
			}
		}
	}

	&.buttonbar,
	&.toolbar,
	&.default {
		height: 40px;

		.topbar-container {
			height: 40px;
			gap: 9px;
			padding-right: 9px;
			border-bottom: 1px solid rgb(65, 65, 65);
			border-bottom: 1px solid var(--gridGap);
			background-color: var(--topbar-BG);

			.app-menu {
				.app-menu-btn {
					height: 22px;
					padding: 0 8px;
					margin: 9px 0;
					border-radius: 5px;
				}
			}

			.window-title {
				height: 40px;
				line-height: 40px;
				margin: 0;
				font-size: 13px;
				font-weight: 600;
			}

			.document-title {
				height: 40px;
				line-height: 40px;

				.save-indicator {
					margin: 0 0 0 3px;
					font-size: 13px;
					font-weight: 400;
					opacity: 60%;
				}
			}

			.topbar-button {
				height: 22px;
				width: 36px;
				margin: 9px 0;
				padding: 0;
				border-radius: 6px;

				img {
					margin: -4px 3px;
				}
			}

			.select {
				&:hover {
					.option-container {
						display: flex;
					}
				}

				.select-btn {
					height: 28px;
					margin: 13px 0;
					padding: 0 12px;
					border-radius: 6px;
					color: var(--text);
					background-color: transparent;
					border: 1px solid var(--hover);

					&:hover {
						background-color: var(--hover);
					}
				}

				.option-container {
					display: none;
					position: absolute;
					flex-direction: column;
					padding: 4px 0;
					gap: 4px;
					border-radius: 8px;
					background-color: var(--appMenuContentBG);
					backdrop-filter: blur(40px);
					box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

					button {
						height: 28px;
						margin: 0 4px;
						padding: 0 12px;
						border-radius: 4px;
						font-size: 14px;
						text-align: left;
						color: var(--text);
						background-color: transparent;

						&:hover {
							background-color: var(--hover);
						}

						&.selected {
							background-color: var(--hover2);
						}
					}
				}
			}

			.topbar-group {
				height: 28px;
				margin: 13px 0 12px 0;
				border-radius: 6px;
			}
		}
	}
}
