main.win {
	.topbar {
		&.toolbar {
			.topbar-container {
				gap: 9px;
				background-color: var(--topbar-BG);
				border-bottom: 1px solid rgb(65, 65, 65);
				border-radius: 9px 9px 0px 0px;

				.app-menu {
					.app-menu-btn {
						height: 36px;
						padding: 0 12px;
						margin: 9px 0;
						border-radius: 5px;
					}

					.menu-content {
						gap: 4px;
						padding: 4px 0;
						border-radius: 8px;
						border: 1px solid rgb(26, 26, 26);
						box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

						.app-menu-item {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							gap: 8px;
							height: 28px;
							margin: 0 4px;
							padding: 0 12px;
							border-radius: 5px;
							font-size: 14px;

							.name {
								line-height: 28px;
								font-weight: 500;
							}

							.accelerator {
								margin-left: 8px;
								opacity: 50%;
								line-height: 28px;
								font-weight: 700;
							}
						}
					}
				}

				.window-title {
					color: var(--text);
					height: 28px;
					line-height: 28px;
					margin: 13px 0 12px 0;
					font-size: 13px;
					font-weight: 600;
				}

				.select {
					&:hover {
						.optionContainer {
							display: flex;
						}
					}

					.selectBtn {
						height: 36px;
						margin: 9px 0;
						padding: 0 12px;
						border-radius: 5px;
						color: var(--text);
						background-color: transparent;

						&:hover {
							background-color: var(--hover);
						}
					}

					.optionContainer {
						display: none;
						position: absolute;
						flex-direction: column;
						padding: 4px 0;
						gap: 4px;
						border-radius: 8px;
						border: 1px solid rgb(26, 26, 26);
						background-color: var(--appMenuContentBG);

						button {
							height: 28px;
							margin: 0 4px;
							padding: 0 12px;
							border-radius: 4px;
							font-size: 14px;
							text-align: left;
							color: var(--text);
							background-color: transparent;

							&:hover {
								background-color: var(--hover);
							}

							&.selected {
								background-color: var(--hover2);
							}
						}
					}
				}

				.topbar-button {
					height: 36px;
					width: 40px;
					margin: 9px 0 9px 0;
					border-radius: 5px;

					img {
						margin: 0px;
					}
				}

				.topbar-group {
					height: 36px;
					margin: 9px 0;
					border-radius: 5px;
				}
			}
		}

		&.buttonbar {
			.topbar-container {
				background-color: var(--topbar-BG);
				border-bottom: 1px solid rgb(65, 65, 65);
				border-radius: 9px 9px 0px 0px;
				gap: 6px;

				.app-menu {
					.app-menu-btn {
						height: 28px;
						padding: 0 12px;
						margin: 6px 0;
						border-radius: 5px;
					}

					.menu-content {
						gap: 4px;
						padding: 4px 0;
						border-radius: 8px;
						border: 1px solid rgb(26, 26, 26);

						button {
							height: 28px;
							margin: 0 4px;
							padding: 0 12px;
							border-radius: 5px;
							font-size: 14px;
						}
					}
				}

				.topbar-button {
					width: 30px;
					height: 28px;
					margin: 6px 0;
					border-radius: 5px;
				}

				.topbar-group {
					height: 28px;
					margin: 6px;
					border-radius: 5px;

					.topbar-button {
						margin: 0;
					}
				}

				.tab-container {
					display: flex;
					flex-direction: row;
					gap: 6px;
					margin: 6px 0;
					border: none;
					height: 28px;

					button {
						height: 28px;
						width: 80px;
						background-color: rgb(41, 41, 41);
						border-radius: 5px;
					}
				}
			}
		}

		&.tabbar {
			height: 80px;
			gap: 1px;

			.title {
				position: fixed;
				inset: 0 0 auto 0;
				height: 36px;
				line-height: 36px;
				text-align: center;
				font-size: 14px;
				font-weight: 700;
			}

			.win-buttons-ms {
			}

			.tab {
				display: flex;
				flex-direction: row;
				gap: 6px;
				height: 36px;
				margin: auto auto 7px auto;
				padding: 0 7px;
				border-radius: 6px;

				&:hover {
					background-color: var(--hover);
				}

				&.active {
					background-color: var(--hover);

					img {
						filter: var(--secondary-filter);
					}

					p {
						color: var(--secondary);
					}
				}

				img {
					height: 22px;
					width: 22px;
					margin: 7px 0;
					filter: invert(90%);
				}

				p {
					line-height: 36px;
					font-size: 12px;
					font-weight: 600;
				}
			}
		}

		.tooltip {
			height: 28px;
			line-height: 28px;
			padding: 0 12px;
			color: var(--text);
			background-color: var(--topbar-BG);
		}

		.win-buttons-ms {
			top: 0;
			right: 0;
			display: flex;

			button {
				width: 45px;
				height: 30px;
				color: white;
				background-color: transparent;

				&:hover {
					background-color: rgba(100, 100, 100, 0.4);
				}

				img {
					width: 10px;
					height: 10px;
				}
			}

			.close {
				border-top-right-radius: 9px;

				&:hover {
					background-color: rgb(255, 0, 0);
				}
			}

			.disabled {
				&:hover {
					background: transparent;
				}
				img {
					filter: opacity(50%);
				}
			}
		}
	}
}
