//general
$gridGap: 1px;

//round corders
main.mac {
	--win-corner: 8px;
}

main.tahoe {
	--win-corner: 8px;
	--win-corner-large: 26px;
}

main.win {
	--win-corner: 8px;
}

main.web {
	--win-corner: 0px;
}
