// Window common elements for all Operating systems

@use '../scss/_colors' as c;
@use '../scss/variables' as v;
@use '../scss/_mixins' as mix;

.topBar {
    grid-area: topBar;
    margin: 0;
    padding: 0;

    background-color: c.$topBarBG;

    .topBarContent {
        @include mix.noSelect;
        position: relative;
        height: inherit;

        p {
            height: inherit;
            padding: 5px;
            font-size: 15px;
            text-align: center;
        }
    }

    .toolBar {
        padding: 10px;

        .toolBarItem {
            height: 30px;
            width: 40px;
            border-radius: 12px;
            background-color: transparent;

            &:hover {
                background-color: c.$hover;
            }
        }
    }

    #windowCloseWin {
        position: absolute;
        top: 0px;
        right: 0;
        width: 40px;
        height: 30px;
        background-color: transparent;

        &:hover {
            background-color: #ff0000;
        }
    }
    
    #windowMinWin {
        position: absolute;
        top: 0px;
        right: 80px;
        width: 40px;
        height: 30px;
        background-color: transparent;

        &:hover {
            background-color: #ffffff22;
        }
    }

    #windowMaxWin {
        position: absolute;
        top: 0px;
        right: 40px;
        width: 40px;
        height: 30px;
        background-color: transparent;

        &:hover {
            background-color: #ffffff22;
        }
    }
}

.trafficLight {
    position: fixed;
    z-index: 100;

    #windowCloseMac {
        float: left;
        margin: 9px 9px 9px 9px;
        width: 12px;
        height: 12px;
        background-color: #FD5754;
        border-radius: 7px;
        &:hover {
            img {
                display: block;
            }
        }
        img {
            display: none;
            height: 12px;
        }
    }

    #windowMinMac {
        float: left;
        margin: 9px 9px 9px 0px;
        width: 12px;
        height: 12px;
        background-color: #FEBB40;
        border-radius: 7px;
        &:hover {
            img {
                display: block;
            }
        }
        img {
            display: none;
            height: 12px;
        }
    }

    #windowMaxMac {
        float: left;
        margin: 9px 9px 9px 0px;
        width: 12px;
        height: 12px;
        background-color: #35C748;
        border-radius: 7px;
        &:hover {
            img {
                display: block;
            }
        }
        img {
            display: none;
            height: 12px;
        }
    }
}

.sideBar {
    grid-area: sideBar;

    background-color: c.$sideBar;
}

.windowBody {
    position: fixed;
    display: grid;
    grid-gap: v.$gridGap;
    width: 100vw;
    height: 100vh;
}