// Window common elements for all Operating systems
@use "../scss/_colors" as c;
@use "../scss/variables" as v;

.window-body {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: var(--text);
	background-color: transparent;
	corner-shape: superellipse(1.1);
}

.properties {
	background-color: var(--properties-BG);
}

.status-bar {
	grid-area: statusBar;
	display: flex;
	height: 25px;
	padding: 0 10px 0 5px;
	background-color: #1f1f1f;

	p {
		color: var(--text);
		line-height: 22px;
		letter-spacing: 0.3pt;
	}

	.spacer {
		flex: 1;
	}
}

.resizer {
	position: absolute;
	background-color: transparent;
}

.window-rim {
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: transparent;
	border: 1px solid rgb(123, 123, 123, 0.4);
	border-radius: var(--win-corner);
	pointer-events: none;
}

main.light {
	.window-body {
		border-radius: 9px;
	}

	.window-rim {
		display: none;
	}
}

main.mac {
	.navbar {
		border-right: 1rem solid var(--grid-gap);
	}
}

main.win {
	&.custom-decorations.window-body {
		border-radius: 9px;
	}

	select {
		height: 30px;
		color: var(--text);
		background-color: var(--hover);
		border-radius: 6px;

		&:hover {
			background-color: var(--hover);
		}
	}

	.navbar {
		background-color: var(--navbar-BG);
	}

	.window-rim {
		border-color: rgb(83, 83, 83);

		&::after {
			content: none;
		}
	}
}

main.web {
	.window-body {
		border-radius: 0;
	}

	.navbar {
		background-color: var(--navbar-BG);
	}
}
