//Main css File

//variables
@forward '../scss/_colors_dark';
@forward '../scss/_fonts';
@forward '../scss/_layout';
@forward '../scss/_mixins';
@use '../scss/colors_dark' as c;

//components
@forward '../scss/_windowElements';
@forward '../scss/_areaElements';

//base
:root {
    font-family: OpenSans-regular, sans-serif;
    font-size: 10px;
    color: c.$text;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    background-color: transparent;
}