//Main css File

//variables
@forward "../scss/_colors";
@forward "../scss/_fonts";
@forward "../scss/_layout";

//components
@forward "../scss/_windowElements";
@forward "../scss/_areaElements";
@forward "../scss/_navList";
@forward "../scss/_sidebar";
@forward "../scss/_topBar";
@forward "../scss/_topBarMac";
@forward "../scss/_topBarTahoe";
@forward "../scss/_topBarWin";
@forward "../scss/_topBarWeb";
@forward "../scss/_settings";
@forward "../scss/_contextMenu";
@forward "../scss/prop";

//base
:root {
	font-size: 1px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	font-family: Inter, Inter-VariableFont, Arial, Helvetica, sans-serif;
}

body {
	position: fixed;
	overflow: hidden;
	background-color: transparent;
	color: var(--text);
	font-size: 12rem;
}
