//Main css File

//variables
@forward '../scss/_colors';
@forward '../scss/_fonts';
@forward '../scss/_layout';
@forward '../scss/_mixins';
@use '../scss/colors' as c;

//components
@forward '../scss/_windowElements';
@forward '../scss/_areaElements';
@forward '../scss/topBar';

//base
:root {
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 1px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    -webkit-user-select: none;

    &:hover {
        outline: none;
    }
}

body {
    position: fixed;
    overflow: hidden;
    background-color: transparent;
    color: var(--text);
    font-size: 12rem;
}

.debugMenu {
    position: absolute;
    width: 5px;
    height: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: darkviolet;
    border-radius: 8px;

    &:hover {
        width: auto;
        height: auto;
    }

    button {
        margin: 5px;
        padding: 3px 12px;
        border-radius: 4px;
    }
}

//z-index layer
//500 - window rim