//Main css File

//variables
@forward "../scss/_colors";
@forward "../scss/_fonts";
@forward "../scss/_layout";

//components
@forward "../scss/_windowElements";
@forward "../scss/_areaElements";
@forward "../scss/_navList";
@forward "../scss/_topBar";
@forward "../scss/_topBarMac";
@forward "../scss/_topBarWin";
@forward "../scss/_topBarWeb";
@forward "../scss/_settings";
@forward "../scss/_contextMenu";
@forward "../scss/prop";

//base
:root {
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 1px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	font-family: Inter;
}

body {
	position: fixed;
	overflow: hidden;
	background-color: transparent;
	color: var(--text);
	font-size: 12rem;
}

.debug-menu {
	position: absolute;
	width: 5px;
	height: 5px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: darkviolet;
	border-radius: 8px;

	&:hover {
		width: auto;
		height: auto;
	}

	button {
		margin: 5px;
		padding: 3px 12px;
		border-radius: 4px;
	}
}
