:root{
    font-size: 10px;
}

.windowBody {

    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: 50px 1fr 20px;
    grid-template-areas:'sideBarTop topBar    topBar'
                        'sideBar    text      properties'
                        'statusBar  statusBar statusBar';
}

.area-text {
    grid-area: text;
    height: 100%;
    background-color: rgb(20, 20, 20);
}

.properties {
    grid-area: properties;
}

.editorText {
    margin: 20px;
    font-size: 1.5rem;
    color: rgb(220, 220, 220);
    line-height: 1.8rem;

}