
.windowBody {

    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: 30px 1fr;
    grid-template-areas:'sideBar topBar topBar'
                        'sideBar text   properties';
}

.area-text {
    grid-area: text;
    height: 100%;
    background-color: rgb(40, 40, 40);
}

.area-properties {
    grid-area: properties;
    background-color: #333;
}

.editorText {
    margin: 20px;
    font-size: 1.5rem;
    color: rgb(220, 220, 220);
    line-height: 1.8rem;

}